.btn {
    background-color: #eb6d6d !important;
    opacity: 0.7;
    color: white;
  }

  .form-control {
    color: #eb6d6d !important;
  }

  thead {
    background-color: #eb6d6d;
    color: white !important;
  }

  td {
    color: #eb6d6d !important;
  }
