<div>
  <div class="add-title">
    <h2 class="primary">Modification du client</h2>
  </div>
  <div>
    <form [formGroup]="editPasswordForm"  (change)="onSubmit()">
      <mat-grid-list cols="2" [cols]="breakpoint" rowHeight="85px" (window:resize)="onResize($event)">      
        
        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field class="example-full-width">
              <input type="password" matInput placeholder="Mot de passe " formControlName="password" minlength="7" required />
              <mat-error *ngIf="editPasswordForm.controls.password.hasError('required')">
                Un mot de passe est requis
              </mat-error>
              <mat-error *ngIf="editPasswordForm.controls.password.hasError('minlength')">
                Doit contenir 7 caractères
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field class="example-full-width">
              <input type="password" matInput placeholder="Repeter votre mot de passe" formControlName="confirmPassword" required />
              <mat-error *ngIf="editPasswordForm.controls.confirmPassword.hasError('required')">
                Un mot de passe est requis
              </mat-error>
              <!-- <mat-error *ngIf="editPasswordForm.controls.confirmPassword.errors.mustMatch">
                Les mots de passes ne sont pas identiques
              </mat-error> -->
            </mat-form-field>
          </div>
        </mat-grid-tile>
      
      </mat-grid-list>

      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      
      <div mat-dialog-actions>
        <button mat-raised-button (click)="onSubmit()">Modifier</button>
        <button mat-raised-button cdkFocusInitial (click)="closeNote()">Annuler</button>
      </div>

    </form>
  </div>
</div>

  