<div class="home-container">
    <div class="row">
        <div class="col-12">
            <app-chart-salary></app-chart-salary>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="chart-div col-md-6">
                    <app-chart-customer></app-chart-customer>
                </div>
                <div class="chart-div col-md-6">
                    <app-chart-hour></app-chart-hour>
                </div>
            </div>
        </div>
    </div>
</div>